

.nav-item{
    padding: 0 1rem;
}

.logo{
    height: 6rem;
    width: 6rem;
}

#backgroundImg{
    background-image: url('/assets/img/pexels-eziz-charyyev-1475938.jpg');
    background-repeat: no-repeat;
    color: #FFFFFF;
    background-size: cover;
    width: 100%;
    height: 84vh;
    position: relative;
    border-bottom: 20rem;
}

.header_btn{
    position: absolute;
    top: 16rem;
    left: 36rem;
}

.tagLine{
    position: absolute;
    top: 5rem;
    left: 6rem;
    color: black;
    text-align: center;
    font-weight: bolder;
    font-size: larger;
    font-size: 2rem;
    line-height: 3rem;
}

.card{
    position: absolute;
    top: 30rem;
    left: 13rem;
    height: 25rem;
    width: 60rem;
    box-shadow: black;
    
}


.top-heading{
    margin-top: 20rem;
    text-align: center;
}

.top-heading h1 {
    margin-top: 22rem;
    font-size: 3rem;
}
.process{
    margin: 2rem 2rem;
}

.serNo{
    color: white;
    background-color: red;
    height: 1.5rem;
    width: 1rem;
    border: 1px solid black;
    text-align: center;
    font-size: large;
}

.title{
    color: black;
    margin-left: 1rem;
    font-size: large;
}

.description{
    color: black;
    text-align: center;
    margin-top: 2rem;
}

.ico-img {
    align-items: center;
    width: 62px;
    height: 60px;
    background-repeat: no-repeat;
}

.icon{
    text-align: center;
}

.text-span{
    font-size: 2rem;
    font-weight: bolder;
    color: black;
}

.listing{
    margin-bottom: 5rem;
}



.cards{
    margin-top: 5rem;
}


.example-card {
    max-width: 350px;
}
  
.example-header-image {
background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
background-size: cover;
}

.footer{
    margin-bottom: 5rem;
}

.footer_icons > * {
    padding: 1rem;
}

.footer_icon_image{
    width: 72px;
    height: 70px;
}

@media only screen and (max-width: 500px) {
    .tagLine{
        position: absolute;
        top: 10rem;
        left: 1rem;
        color: bisque;
    }

    .card{
        position: absolute;
        top: 37rem;
        left: 1rem;
        width: 23rem;
        height: 55rem;
    }

    .card-items{
        display: flex;
        flex-direction: column;
    
    }
    .listing{
        margin-top: 40rem;
    }
    .top-heading h1 {
        margin-top: 22rem;
    }
    .cards{
        margin-top: 0rem
    }
    .header_btn{
        display: none;
    }
    .nav_items{
        display: none;
    }

    .footer_icons > * {
        padding: 14px;
    }

    .footer_icon_image{
        width: 61px;
        height: 78px;
    }

    .footer_icon_heading{
        display: none;
    }
}


@media only screen and (max-width: 320px) {
    .card{
        position: absolute;
        top: 37rem;
        left: 1rem;
        width: 17rem;
        height: 58rem;
    }

    .top-heading h1 {
        line-height: 4rem;
    }

    .footer_icons > * {
        padding: 4px;
    }

    .footer_icon_image{
        width: 34px;
        height: 30px;
    }

    .footer_icon_heading{
        display: none;
    }
}

@media only screen and (max-width: 375px) {
    .card{
        position: absolute;
        top: 37rem;
        left: 1.2rem;
        width: 19.6rem;
        height: 58rem;
    }

    .top-heading h1 {
        margin-top: 23rem;
    }
    .cards{
        margin-top: 4rem
    }

    /* .top-heading h1 {
        line-height: 4rem;
    }

    .footer_icons > * {
        padding: 4px;
    }

    .footer_icon_image{
        width: 34px;
        height: 30px;
    }

    .footer_icon_heading{
        display: none;
    } */
}